# Section Links

Quick Links to Today's Activities:

- Activity 1: [Working with Data](#scrollTo=2u875JjJlFxN&line=1&uniqifier=1)
- Activity 2: [Making a Monte Carlo Simulation](#scrollTo=E0Lg8OCWy82A&line=1&uniqifier=1)


Quick Links to Informational Sections:
1. [Getting Started With R & RStudio](#scrollTo=1dszKJExx5Af)
2. [Installing and Loading Packages](#scrollTo=RbkiMDede3SZ)
3. [Help and Documentation](#scrollTo=Ox7t20vdyTzr)
4. [Data Types](#scrollTo=3aw1VJv3yBU4)
5. [Data Structures](#scrollTo=TIpKLsr7yF0n)
6. [Vector and List Operations](#scrollTo=SFPqn9t3r5U4)
7. [Data Frame Operations](#scrollTo=XxBKVbZLyvIh)
8. [Importing / Exporting Data](#scrollTo=Gb_Swe5Qyx3W)
9. [Mathematical and Statistical Functions](#scrollTo=W7fXOQIry2ur)
10. [Iteration and Selection](#scrollTo=ggWAogriy4aD)
11. [Defining Functions](#scrollTo=DHEUwDKOENVd)
12. [Packages and the Tidyverse](#scrollTo=dpTDzqnQ9CZ0)

# Getting Started With R and RStudio

---

Note: This is not strictly required for this workshop as Google Colab can run R code without installing R itself or RStudio. However, if you plan on using R in the future I highly recommend downloading these softwares as described below. Also, documentation panes do not show up very well in Colab, so if you want to use the documentation (I show how to in [this section](#scrollTo=Ox7t20vdyTzr)) please download R and RStudio!

**Step 1: Installing R (If You Don't Already Have It)**

1. Go to https://posit.co/download/rstudio-desktop/
2. Click on the button "DOWNLOAD AND INSTALL R"
3. The first three links on this page are the download links for R; please click on the correct link for your OS
4. The page you see next differs depending on which OS download link you click, but generally one of the first few links on these pages will be the R installer
5. Once you have the R installer just follow the setup wizard




**Step 1: Installing RStudio (If You Don't Already Have It)**

1. Go to https://posit.co/download/rstudio-desktop/
2. Scroll just below where it says "All Installers and Tarballs" and you will see a bunch of download links to RStudio for different OS
3. Click on the correct download link for your OS and follow the setup wizard

# Installing and Loading Packages

---

The heart of R (and why so many data scientists use it) lies in its **immense** amount of packages. Since this workshop is an introduction, I will not be going over many packages but its still very valuable to know how to install and use them!

In [ ]:
#To install packages in R, use the install.packages() function and remember to put the name of the package in "quotes"!
install.packages("tidyverse")
install.packages("ggplot2")

#NOTE: To change the default location of package installs use the function libPaths(); please read the documentation for how to do this

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

We can also choose where install.packages installing the package to by specifying the parameter `lib` like so:

```
install.packages("ggplot2", lib = "path_name_here")
```

If we want to check which packages we have installed, we can use the following function with no arguments:



```
installed.packages()
```

I did not run this function in the code above because trust me the output for it is **HUGE**!

Loading packages in R is pretty easy too:

In [ ]:
#Load in an installed package using the function library(); keep in mind the package must be installed before using library()
library(ggplot2)

#You can check which packages you have loaded in using the function search()
search() #you should be able to 'package:ggplot2' somewhere in this output

 [1] ".GlobalEnv"        "package:lubridate" "package:forcats"
 [4] "package:stringr"   "package:dplyr"     "package:purrr"
 [7] "package:readr"     "package:tidyr"     "package:tibble"
[10] "package:tidyverse" "package:ggplot2"   "jupyter:irkernel"
[13] "package:stats"     "package:graphics"  "package:grDevices"
[16] "package:utils"     "package:datasets"  "package:methods"
[19] "Autoloads"         "package:base"

## Note on Object Masking

Masking is when two or more packages contain objects that have the same name but R must make a decision about which one to use, so it uses the functionality of the one from the **most recently loaded package**.

Go to [this section](#scrollTo=dpTDzqnQ9CZ0) for an example of masking conflicts.

If we wish to use a function specifically from one package (and not want to deal with any potential masking conflicts), we can type the following:



```
package_name::function_name()

#For example, if we want the filter() function from package dplyr, we would do:

dplyr::filter()
```

This will tell R to specifically search that package for that function in it. Please note that if you want to use a function specifically from base R you can type the following:


```
base::function_name()
```

# Getting Help and Documentation
---

## Accessing Docs

If you ever want to see exactly how a function works (whether it be the logic it uses, its default arguments, its full parameter list, etc.), R has a very easy and intuitive way to do that! Just type `?` before the function or object name like so:

In [ ]:
#Getting documentation for the mean() function
?mean

#This ? syntax actually works on many objects in R and even packages! This is getting documentation for the package bookdown
?bookdown

It is important to note that ?object_name will only search for documentation of objects in your *loaded* packages.

If you are ever unsure of the exact name of the function you need documentation for or want to search for an object that is not in your loaded packages but in your *installed* packages, use `??` like so:

In [ ]:
#Let's say I forgot the name of the function as.integer() but I knew it started with as.int
#I could do the following to generally search for documentation that has the phrase "as.int" somewhere in it
??as.int

#Or let's say I want some documentation on the package ggplot2 and I have it installed but I don't have it loaded in
??ggplot2

For the purposes of the workshop, I will only be mentioning function parameters that I feel are most important and necessary but please feel free to use the documentation to experiment with other function parameters! Learning to use documentation effectively is a true sign of a good programmer!

Also please be aware that documentation panes in Google Colab are a bit wonky. I recommend downloading RStudio and using these functions so they show up better.

## Viewing Objects

One last note, you can use the function `View(object_name)` (yes, with a capital V) to view the inner-workings of a function. Please note that most of the time the result of View is quite unhelpful especially for super basic built-in functions such as `mean()` and `as.integer()`.

Most of the time you will be using `View()` on objects you have in your environment such as data frames, vectors, lists, etc.

In [ ]:
#You can see here that using the View() function on the function as.integer() doesn't really produce an informative output :(
View(as.integer)

function (x, ...)  .Primitive("as.integer")

 [1]  1  2  3  4  5  6  7  8  9 10

  column_1           column_2
1 first observation  134
2 second observation  66
3 third observation   89

In [ ]:
#But we can use the View() function to get a good idea of how our data structures look; this is especially useful for looking at data frames!
test_vector <- c(1,2,3,4,5,6,7,8,9,10)
test_df <- data.frame(column_1=c("first observation", "second observation", "third observation"),column_2=c(134,66,89))
View(test_vector)
View(test_df)

 [1]  1  2  3  4  5  6  7  8  9 10

  column_1           column_2
1 first observation  134
2 second observation  66
3 third observation   89

# Data Types in R
---

The most basic units of data in R are called "atomic data types" (for those of us who are familiar with other languages, you can think of these as primitives). There are six atomic data types in R:

1. Logical
2. Integer
3. Numeric (also known as Double)
4. Character
5. Complex
6. Raw

For today's workshop, we are only going to pay attention to the first 4 data types though:

* **Logical**: `TRUE`, `FALSE`, or `NA`

* **Integer**: To define an integer you type a number with no decimal point follow by an `L` like `3L` or `134L`

* **Numeric / Double**: This is what most of your data will be stored as; it includes numbers with decimal places and even those without such as `3.4` or `3`; if you type just a number (no decimal) but not followed by an `L`, it will be stored as a double type NOT integer!

* **Character**: These include singular characters such as `"a"` or multiple characters together such as `"ant"`; to define a character you must type "something sandwiched between quotes like this"

## Logical

In [ ]:
#Logical Data
logical_data1 <- TRUE
logical_data2 <- FALSE
logical_data3 <- NA #NA is used usually as a "placeholder" variable in R for data not currently avaliable; it can also be used when debugging missing data

## Integer

In [ ]:
#Integer Data
integer_data1 <- 3L
#R will not let you define an integer with the L syntax when the number has a decimal; it will make it into a double
integer_data_wrong <- 3.4L
typeof(integer_data_wrong) #returns double not integer!

[1] "double"

## Numeric / Double

In [ ]:
#Numeric / Double Data
double_data1 <- 3
double_data2 <- 3.4

## Character

In [ ]:
#Character Data
character_data1 <- "a"
character_data2 <- "abc@gmail.com + 123@yahoo.com"

## Note on Variable Assignment

In [ ]:
#Just a little note: you can define variables using = in R, it's just not the standard / recommended
#This is because = is used to pass in argument values into specific parameters of functions (if you are familiar with Python this works like keyword arguments)
assigning_w_equals = 300L
assigning_w_equals = "see you can do it, it's just not recommended!"

## Automatic Type Conversion

R is admittedly pretty terrible when it comes to type conversion because it tends to do it a lot without asking (or telling) you. As you can imagine, this is pretty bad in terms of debugging :(


In general, R has the following hierarchy, ordered from lowest to highest, for implicit (automatic) type conversions:

1. Logical
2. Integer
3. Numeric / Double
4. Complex
5. Character

What this means is that when R encounters a mix of types and needs to convert it all to a singular type (like in the case of making a vector which we will see next), it will always choose to convert things to the "highest hierarchy" type.

In [ ]:
#Spoiler for the next section on vectors! Come back here after you read the next bit on vectors and this will make more sense!

implicit_converted_vector <- c(TRUE,"implicit conversion is sometimes good, sometimes bad")
print(typeof(implicit_converted_vector)) #it coerced the logical to character here because character is "higher" in the hierarchy

implicit_converted_vector1 <- c(1L, 3+5i)
print(typeof(implicit_converted_vector1)) #you can see it coerced the integer to complex

implicit_converted_vector2 <- c(TRUE,3L,1.4,3i,"highest in hierarchy!")
print(typeof(implicit_converted_vector2)) #you can see it coerced everything to character because it is the highest in the hierarchy of all the elements

[1] "character"
[1] "complex"
[1] "character"

## Explicit Type Conversion

We can also choose to convert from type to type using the following functions. Please read the documentation for specifics on what data types each of these functions accept and how they do the conversion "behind the scenes".

In [ ]:
#To convert to integer we use as.integer()
as.integer(3.7) #will truncate decimal place (no rounding, just cut it off)
as.integer(TRUE)
as.integer("30")

[1] 3

[1] 1

[1] 30

In [ ]:
#To convert to numeric / double we use as.numeric()
as.numeric(3L)
as.numeric(FALSE)
as.numeric("3.1415")

[1] 3

[1] 0

[1] 3.1415

In [ ]:
#To convert to character we use as.character()
as.character(3L)
as.character(3.14)
as.character(TRUE)

[1] "3"

[1] "3.14"

[1] "TRUE"

In [ ]:
#To convert to logical / boolean we use as.logical()
as.logical(40L)
as.logical(0) #zero is interpreted as FALSE and everything other number is interpretted as TRUE
as.logical("FALSE")
as.logical(2.71)
as.logical("string") #if you do this, R won't know whether to interpret this as TRUE or FALSE, so it will return NA instead

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] NA

## Data Recycling

When R encounters a situation where it is looking for a data structure of a certain length but instead receives one of a shorter length, it will perform what is known as "data recycling" to get them to match.

This basically means that R will "recycle" or loop the values of the shorter data to meet the length of the longer one.

This is another thing R is admittedly pretty bad for doing (and believe me it causes a lot of crazy errors). Please *do not* rely on data recycling if you can avoid it because it can cause some hard to find errors in the future.

In [ ]:
#Spoiler for the next section on vectors! Come back here after you read the next bit on vectors and this will make more sense!

shorter_vector <- c(1,2,3)
longer_vector <- c(4,5,6,7,8,9)
non_multiple_vector <- c(10,11,12,13)

#You can see if we try to add two vectors of unequal length, R will loop back the elements of the shorter one
print(shorter_vector+longer_vector)

#But if we try to use recycling on two unequal vectors that are not multiples of each others lengths, it will give us a little warning (but still run)
print(shorter_vector+non_multiple_vector)

[1]  5  7  9  8 10 12

Warning message in shorter_vector + non_multiple_vector:
“longer object length is not a multiple of shorter object length”

[1] 11 13 15 14

R will even perform data recycling when trying to redefine data of a certain length with one of shorter length. Go to [this section](#scrollTo=xeYZVgjr4n8I&line=1&uniqifier=1) to see examples of this.

# Data Structures in R
---

In addition to these basic data types, we have more complex data structures that use them. There are six data structures in R:

1. Vectors
2. Arrays
3. Matrices
4. Lists
5. Data Frames
6. Factors

You may be very familiar with most of these data structures from previous programming experience, but let's go over each one. Keep in mind that structures with the word **homogenous** next to them mean they can only store data of a *singular type* while **heterogenous** structures can store data of *multiple types*.

## Vectors [Homogenous Data Structure]

No, these kinds of vectors do not have magnitude and direction! Vectors are the most basic of all the data structures. It is an ordered collection of same-type values. Under the hood, almost everything in R is actually secretly a vector. Here is some code showing how we can define vectors and do operations on them:

In [ ]:
#We define vectors using the function c()
new_vector <- c(1,2,3)
new_vector2 <- c("text","more text","even more text")
new_vector3 <- c(TRUE,FALSE,TRUE)
new_vector4 <- c(4,5,6,7)

print(new_vector2)

[1] "text"           "more text"      "even more text"

In [ ]:
new_vector <- c(1,2,3)
new_vector2 <- c("text","more text","even more text")
new_vector3 <- c(TRUE,FALSE,TRUE)

#We can also define a vector using other vectors and using the colon to output an integer sequence
new_long_vector <- c(new_vector,new_vector2,new_vector3)
new_sequence <- c(1:20)
new_decreasing_sequence <- c(20:1)
print(new_long_vector)
print(new_sequence)
print(new_decreasing_sequence)

[1] "1"              "2"              "3"              "text"
[5] "more text"      "even more text" "TRUE"           "FALSE"
[9] "TRUE"
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 [1] 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2  1

In [ ]:
new_vector <- c(1,2,3)

#We can access elements from a vector using brackets
#IMPORTANT NOTE: R index values start at 1 not 0!
new_vector[1]
new_vector[3]
new_vector[2]

[1] 1

[1] 3

[1] 2

In [ ]:
#We can also define a vector with named values
new_named_vector <- c(first=1,second=2,third=3)

#And we can access its elements using those names
new_named_vector["first"] #returns a named vector with one value
new_named_vector[["third"]] #returns a singular, unnamed value
new_named_vector[c("first","third")] #returns multiple values as a named vector

#We can also rename the values like so
names(new_named_vector) <- c("second","first","third")
print(new_named_vector)

#We can also remove the names like so
names(new_named_vector) <- NULL
print(new_named_vector)

first
    1

[1] 3

first third
    1     3

second  first  third
     1      2      3
[1] 1 2 3

In [ ]:
new_vector <- c(1,2,3)
new_vector3 <- c(TRUE,FALSE,TRUE)

#Similar to vector operations in mathematics, we can perform common operations on vectors
print(3*new_vector3) #R will implicitly convert the boolean values in new_vector3 to integers (0 and 1)
print(new_vector+new_vector3)
print(new_vector-new_vector3)
print(new_vector*new_vector3)

[1] 3 0 3
[1] 2 2 4
[1] 0 2 2
[1] 1 0 3

In [ ]:
new_vector <- c(1,2,3)
new_vector4 <- c(4,5,6,7)

#The lengths of the vectors do not have to be the same
#R will perform "recycling" and loop the values of the shorter vector as many times to match the length of the longer vector
#This will output a warning but that's just R making sure you know the lengths are not multiples of each other but it will run just fine!
print(new_vector+new_vector4)

Warning message in new_vector + new_vector4:
“longer object length is not a multiple of shorter object length”

[1] 5 7 9 8

## Arrays [Homogenous Data Structure]

Arrays in R are multidimensional structures that can have one or more dimensions. We define an array using the function `array()`. This function will parse the data into the array in the following order:
1. The first dimension (rows) will be traversed most rapidly (filled first)
2. The second dimension (columns) will be traversed next (filled after each row in column is filled)
3. The third dimension will be traversed next (filled after each column in each row is filled)
4. Subsequent dimensions (fourth, fifth, sixth) will be filling in a similar order

I know this can get a little confusing, but I think arrays are best understood using the code itself:

In [ ]:
#We define arrays using the function array(data,dim,dim_names)
new_array <- array(c(1:24),c(3,4,2)) #this is a 3D structure with no dimension names
new_array2 <- array(c(1:10),c(2,5),list(c("first row","second row"),c("first col","second col","third col","fourth col","fifth col"))) #this is a 2D structure with dimension names (which must be passed in as a list which we will discuss next)

View(new_array) #View() unfortunately does not do a good job at handling any structure above 2 dimensions :(
View(new_array2)

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

, , 2

     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

           first col second col third col fourth col fifth col
first row  1         3          5         7           9
second row 2         4          6         8          10

In [ ]:
new_array <- array(c(1:24),c(3,4,2))

#We can access elements from arrays using [first_dimension_location,second_dimension_location,third_dimension_location, . . .]
element1 <- new_array[3,4,1] #is 12
element2 <- new_array[1,1,2] #is 13 because every avaliable space in the first two dimensions have been filled with the numbers 1 through 12
print(element1)
print(element2)

[1] 12
[1] 13

In [ ]:
new_array2 <- array(c(1:10),c(2,5),list(c("first row","second row"),c("first col","second col","third col","fourth col","fifth col")))

#We access things the same way for nD arrays (here it is 2D)
element3 <- new_array2[1,1]
element4 <- new_array2[2,1]
print(element4)

[1] 2

In [ ]:
new_array <- array(c(1:24),c(3,4,2))

#We can also access "slices" of arrays, which will return everything from the dimension not specified that also satifies the other specified dimensions
first_slice <- new_array[,2,1] #returns a vector since its a 1D slice
second_slice <- new_array[2,,1] #returns a vector since its a 1D slice
third_slice <- new_array[2,1,] #returns a vector since its a 1D slice
multi_slice <- new_array[,,2] #returns another array (actually, a matrix which is a special type of array) since its a 2D slice
print(first_slice)
print(second_slice)
print(third_slice)
print(multi_slice)

[1] 4 5 6
[1]  2  5  8 11
[1]  2 14
     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

## Matrices [Homogenous Data Structure]

A matrix is special type of array (that has its own host of functions and uses, particularly in linear algebra) with 2 dimensions (rows and columns). Every matrix is technically an array but not ever array is a matrix (because we can define arrays to have more or less than two dimensions).

Here is some code to help you understand matrices a little more:

In [ ]:
#We can define matrices using the function matrix(data, nrow, ncol, byrow)
new_matrix <- matrix(c(1:10),5,2) #this matrix will fill by columns first because the default value of byrow is FALSE
new_matrix2 <- matrix(c(1:10),5,2,TRUE) #this matrix will fill by rows first because I set byrow to be TRUE

View(new_matrix)
View(new_matrix2)

     [,1] [,2]
[1,] 1     6
[2,] 2     7
[3,] 3     8
[4,] 4     9
[5,] 5    10

     [,1] [,2]
[1,] 1     2
[2,] 3     4
[3,] 5     6
[4,] 7     8
[5,] 9    10

In [ ]:
new_matrix <- matrix(c(1:10),5,2)
new_matrix2 <- matrix(c(1:10),5,2,TRUE)

#We can access elements from matrices similar to how we did for arrays before
element1 <- new_matrix[1,2] #this element is 6 because it filled the first five integers in column 1 and now its filling column 2
element2 <- new_matrix2[1,2] #this element is 2 because it is filling across the rows first
print(element1)
print(element2)

[1] 6
[1] 2

In [ ]:
new_matrix <- matrix(c(1:10),5,2)

#We can also access slices of matrices similar to how we did for arrays before, except the result will always be a 1D vector
row_slice <- new_matrix[1,]
col_slice <- new_matrix[,1]
print(row_slice)
print(col_slice)

[1] 1 6
[1] 1 2 3 4 5

## Lists [Heterogenous Data Structure]

Because lists can contain elements of multiple data types, you will see them a lot going forward. Like lists in other languages, lists in R support nesting and can contain any of the 6 major data structures. Here is some code to get you used to working with lists:

In [ ]:
#We define lists using the function list()
new_list <- list(1,"one",c("look it even can contain vectors","with multiple elements!"),TRUE,FALSE,3.141596)
View(new_list)

#We can define names for elements of lists too
new_named_list <- list(numbers=c(1,2,3),letterz=c("a","b","c"),logicalz=TRUE,other_stuff=567)
View(new_named_list)

[[1]]
[1] 1

[[2]]
[1] "one"

[[3]]
[1] "look it even can contain vectors" "with multiple elements!"

[[4]]
[1] TRUE

[[5]]
[1] FALSE

[[6]]
[1] 3.141596

$numbers
[1] 1 2 3

$letterz
[1] "a" "b" "c"

$logicalz
[1] TRUE

$other_stuff
[1] 567

In [ ]:
new_list <- list(1,"one",c("look it even can contain vectors","with multiple elements!"),TRUE,FALSE,3.141596)

#Accessing element from lists works a little different because it can be done using one or two brackets
not_unpacked <- new_list[3] #returns the third element of new_list contained in a list
unpacked <- new_list[[3]] #returns the third element of new_list unpacked and in its original data form (a character vector)
print(typeof(not_unpacked))
print(typeof(unpacked))

[1] "list"
[1] "character"

In [ ]:
new_list <- list(1,"one",c("look it even can contain vectors","with multiple elements!"),TRUE,FALSE,3.141596)

#We can also access multiple elements from a list
new_list[c(1,3,5)]

[[1]]
[1] 1

[[2]]
[1] "look it even can contain vectors" "with multiple elements!"

[[3]]
[1] FALSE

In [ ]:
new_named_list <- list(numbers=c(1,2,3),letterz=c("a","b","c"),logicalz=TRUE,other_stuff=567)

#We can also access elements using their names if we have a named list
named_not_unpacked <- new_named_list["numbers"]
named_unpacked <- new_named_list$"numbers" #instead of the double bracket syntax, we can use $ for short; this only works when we are accessing list elements by name
print(typeof(named_not_unpacked))
print(typeof(named_unpacked))

[1] "list"
[1] "double"

## Data Frames [Heterogenous Data Structure]

If you have not really read any of the other data structure introductions, that's ok but pay attention to this one! Most of the data you work with will be held in a data frames. Data frames all follow a similar structure: rows of observations and columns of variables.

For example, we can have the variables "Heart Rate" and "Blood Pressure" in the columns of a data frame and rows containing measurements of these variables for each person in a sample:

In [ ]:
vitals_df <- data.frame("Heart Rate"=c(76,68,88,100),"Blood Presure"=c("120/80","123/83","115/75","132/85"))
View(vitals_df)

  Heart.Rate Blood.Presure
1  76        120/80
2  68        123/83
3  88        115/75
4 100        132/85

We will talk more about data frames in future sections, but for now let's get used to some basics:

In [ ]:
#We define data frames using the function data.frame()
new_frame <- data.frame("column_1"=c(1,2,3,4),"column_2" = c("a","b","c","d"))
View(new_frame)

#We can also define row names for the data frame; by default they are just numbered from 1 to the number of rows
new_frame1 <- data.frame("column_1"=c(1,2,3,4),"column_2" = c("a","b","c","d"),row.names=c("first_row","second_row","third_row","fourth_row"))
View(new_frame1)


#NOTE 1: We cannot define a data frame of columns with differing numbers of rows
#NOTE 2: This is usually not a worry, but strictly speaking the quotes when defining / accessing column names in data.frame are not needed IF the name is syntactically valid
#NOTE 3: The elements of a singular column MUST be of the same type (because they are fundamentally stored as a single vector)

  column_1 column_2
1 1        a
2 2        b
3 3        c
4 4        d

           column_1 column_2
first_row  1        a
second_row 2        b
third_row  3        c
fourth_row 4        d

In [ ]:
new_frame <- data.frame("column_1"=c(1,2,3,4),"column_2" = c("a","b","c","d"))

#We can select elements and slices from data frames similar to previous structures too
element <- new_frame[1,2]
row_slice <- new_frame[1,] #returns a data frame
col_slice <- new_frame[,1] #returns a vector
print(element)
print(row_slice)
print(col_slice)

[1] "a"
  column_1 column_2
1        1        a
[1] 1 2 3 4

In [ ]:
new_frame1 <- data.frame("column_1"=c(1,2,3,4),"column_2" = c("a","b","c","d"),row.names=c("first_row","second_row","third_row","fourth_row"))

#We can also select elements from data frames by row and column names
named_rows <- new_frame1[c("first_row","second_row"),] #returns a data frame with two selected rows
named_col <- new_frame1$column_2 #this dollar sign syntax is a shorthand for returning a singular column by name
named_element <- new_frame1["first_row","column_2"]
print(named_rows)
print(named_col)
print(named_element)

           column_1 column_2
first_row         1        a
second_row        2        b
[1] "a" "b" "c" "d"
[1] "a"

## Factors [Homogenous Data Structure]

We will not be working with factors today, but here is a brief introduction just so you know for later! Factors are used to work with categorical data. Here is some code introducing factors:

In [ ]:
#We define factors using the factor(x,levels) function
#Let's say I have data that involves months:
month_data <- c("Jan","Apr","Aug")

#I can use a factor structure to keep track of this data
#the first argument is my data and the second is the levels of my factor (or every month in the year)
month_factor <- factor(month_data,levels=c("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"))

#Factors are useful because if I have a new data point it will make sure the it fits within one of the levels of the factor
month_factor[2] <- "Month" #This is not allowed because "Month" is not in our list of levels, puts an NA there instead
month_factor[4] <- "Sep" #This is allowed because "Sep" is in our list of levels

print(month_factor)

Warning message in `[<-.factor`(`*tmp*`, 2, value = "Month"):
“invalid factor level, NA generated”

[1] Jan  <NA> Aug  Sep
Levels: Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec

In [ ]:
month_data <- c("Jan","Apr","Aug")
month_factor <- factor(month_data,levels=c("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"))

#We can access data from a factor using brackets like for vectors
print(month_factor[3])

#We can also change the levels of a factor like so (it must be the same number of levels though)
levels(month_factor) <- c(1,2,3,4,5,6,7,8,9,10,11,12)
print(month_factor)

[1] Aug
Levels: Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
[1] 1 4 8
Levels: 1 2 3 4 5 6 7 8 9 10 11 12

Factors may not seem too helpful now, but the package forcats makes them much more useful and easier to work with.

# Useful Vector and List Operations
---

Some of these operations should seem familiar to you if you have experience with programming in another language. Feel free to just gloss over parts of this section or and use it as a reference going on (because it's a lot, I know).

## Comparing Vectors

In [ ]:
logical_vector1 <- c(TRUE,TRUE,FALSE,FALSE)
logical_vector2 <- c(TRUE,FALSE,TRUE,FALSE)

#We can do all the familiar logical operations on vectors
print(logical_vector1 & logical_vector2)
print(logical_vector1 | logical_vector2)
print(!logical_vector1)

numerical_vector1 <- c(1,2,3)
numerical_vector2 <- c(4,1,3)

#We also have comparison operators which compares vector elements pairwise
print(numerical_vector1 > numerical_vector2)
print(numerical_vector1 == numerical_vector2)
print(numerical_vector1 < numerical_vector2)
print(numerical_vector1 >= numerical_vector2)
print(numerical_vector1 <= numerical_vector2)
print(numerical_vector1 != numerical_vector2)

[1]  TRUE FALSE FALSE FALSE
[1]  TRUE  TRUE  TRUE FALSE
[1] FALSE FALSE  TRUE  TRUE
[1] FALSE  TRUE FALSE
[1] FALSE FALSE  TRUE
[1]  TRUE FALSE FALSE
[1] FALSE  TRUE  TRUE
[1]  TRUE FALSE  TRUE
[1]  TRUE  TRUE FALSE

## Getting Vector / List Length

In [ ]:
cool_vector <- c(1,3,5,2,7,9)
cool_list <- list(5,"tree",7.6,FALSE)
cool_named_list <- list(binary_stuff=101101011,string_stuff="text here",boolean_stuff=c(TRUE,TRUE,FALSE))

#We can get the length of a list or vector using length()
length(cool_vector)
length(cool_list)
length(cool_named_list)

[1] 6

[1] 4

[1] 3

## Sorting and Ordering Vectors

In [ ]:
cool_vector <- c(1,3,5,2,7,9)
cool_letters <- c("A","b","D","Z","z","C")

#We can sort vectors using sort(); read the documentation for all the various options and parameters in this function
sort(cool_vector)
sort(cool_vector,decreasing=TRUE)
sort(cool_letters)

[1] 1 2 3 5 7 9

[1] 9 7 5 3 2 1

[1] "A" "b" "C" "D" "z" "Z"

In [ ]:
cool_vector <- c(1,3,5,2,7,9)

#We can also use the function order() to return an integer vector of the permutation of subscripts which sorts the vector
order(cool_vector)

[1] 1 4 2 3 5 6

## Sorting, Ordering, and Unpacking Lists

In [ ]:
new_cool_list <- list(2,4,7,3,5)

#If we want to order a list we have to use a combination of unlist() and order() from before
unlisted_elements <- unlist(new_cool_list) #This is going to recursively unpack the elements of the list as a vector, it also works to unpack nested elements in lists

#Now we are going to use order() to return the ordered subscript permutation from this unpacked list and use it to sort the original list
new_ordered_list <- new_cool_list[order(unlisted_elements)]
print(new_ordered_list)

[[1]]
[1] 2

[[2]]
[1] 3

[[3]]
[1] 4

[[4]]
[1] 5

[[5]]
[1] 7

ERROR: Error in sort.int(x, na.last = na.last, decreasing = decreasing, ...): 'x' must be atomic

## Applying Functions to Vector / List Elements

In [ ]:
cool_named_list <- list(binary_stuff=101101011,string_stuff="text here",boolean_stuff=c(TRUE,TRUE,FALSE))
cool_number_list <- list(2*pi,pi,pi/2)

#To apply a function to every single element of a list we can use lapply()
print(lapply(cool_named_list,length))

#The function sapply() works similarly to lapply() except it attempts to simplfy the output to a vector if all of the output elements are of the same type
print(sapply(cool_number_list,sin)) #sin is the trigonometric sine function here; more on this later!

#NOTE: lapply() and sapply() also work similarly on vectors

$binary_stuff
[1] 1

$string_stuff
[1] 1

$boolean_stuff
[1] 3

[1] -2.449294e-16  1.224647e-16  1.000000e+00

## Passing in Function Arguments With Lists

In [ ]:
new_cool_list <- list(2,4,7,3,5)

#The function do.call(what,args) will take in a list as args and pass them into the function 'what'
do.call(sum,new_cool_list) #This is exactly equivalent to sum(2,4,7,3,5)

new_named_list <- list("row.names"=c("r1","r2","r3"),"arg 2"=c(1:3),"arg 1"=c("A","B","C"))

#do.call() can also take in a named list and will attempt to match the names of the list elements to the arguments in 'what'
do.call(data.frame,new_named_list) #When passing in arguments like this, the order they appear in the list does not matter

[1] 21

   arg.2 arg.1
r1 1     A
r2 2     B
r3 3     C

## Adding and Redefining Vector / List Elements

In [ ]:
cool_vector <- c(1,3,5,2,7,9)
cool_list <- list(5,"tree",7.6,FALSE)

#We can redefine or add elements of a list or vector like so
cool_vector[3] <- 100
cool_list[1] <- 999
cool_vector[10] <- 333 #This is going to stuff NAs in between the end of the original vector and the added element
cool_list$new_element <- "new stuff"
print(cool_vector)
print(cool_list)

 [1]   1   3 100   2   7   9  NA  NA  NA 333
[[1]]
[1] 999

[[2]]
[1] "tree"

[[3]]
[1] 7.6

[[4]]
[1] FALSE

$new_element
[1] "new stuff"

## Removing Vector / List Elements

In [ ]:
cool_vector <- c(1,3,5,2,7,9)
cool_list <- list(5,"tree",7.6,FALSE)

#We can also remove elements like so
cool_vector <- cool_vector[c(-2,-4)] #negative indexing returns everything in the list EXCEPT the negative specified indexes
cool_list[2] <- NULL #this method of assigning NULL to remove an element does not work on vectors unfortunately
print(cool_vector)
print(cool_list)

[1] 1 5 7 9
[[1]]
[1] 5

[[2]]
[1] 7.6

[[3]]
[1] FALSE

# Useful Data Frame Operations
---

Most of the data you will find yourself working with will be contained in data frames, so this section is going over some very helpful functions you may find yourself needing. Similar to the last section, this section is large, so feel free to just use it as a reference for later activities!

## Previewing and Summarizing Data Frames

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#Sometimes you just want to get a sneak peek at the structure of the frame; for this use head() and tail()
head(new_frame,5) #will return the first 5 rows of the frame
tail(new_frame,4) #will return the last 4 rows of the frame

#NOTE: Look in the documentation for the number of rows head() and tail() return by default; as of now it is 6

  column_1 column_2 column_3
1 1        a        13
2 2        b        14
3 3        c        15
4 4        d        16
5 5        e        17

   column_1 column_2 column_3
7   7       g        19
8   8       h        20
9   9       i        21
10 10       j        22

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#The function summary() will give you a basic statistical breakdown of a data frame!
summary(new_frame)

    column_1       column_2            column_3
 Min.   : 1.00   Length:10          Min.   :13.00
 1st Qu.: 3.25   Class :character   1st Qu.:15.25
 Median : 5.50   Mode  :character   Median :17.50
 Mean   : 5.50                      Mean   :17.50
 3rd Qu.: 7.75                      3rd Qu.:19.75
 Max.   :10.00                      Max.   :22.00

## Getting Data Frame Dimensions

In [ ]:
new_frame <- data.frame("column_1"=c(1,2,3,4),"column_2"=c("a","b","c","d"))
new_matrix <- matrix(c(1:10),5,2)
new_array <- array(c(1:24),c(3,4,2))

#We can access the dimensions of a data frame, matrix, or array using these functions
print("Data Frame dimensions:")
nrow(new_frame)
ncol(new_frame)
dim(new_frame)
print("Matrix dimensions:")
nrow(new_matrix)
ncol(new_matrix)
dim(new_matrix)
print("Array dimensions:")
nrow(new_array)
ncol(new_array)
dim(new_array)

[1] "Data Frame dimensions:"

[1] 4

[1] 2

[1] 4 2

[1] "Matrix dimensions:"

[1] 5

[1] 2

[1] 5 2

[1] "Array dimensions:"

[1] 3

[1] 4

[1] 3 4 2

## Extracting Elements From Data Frames

In [ ]:
new_frame <- data.frame("column_1"=c(1,2,3,4),"column_2"=c("a","b","c","d"),"column_3"=c("d","g","f","l"))

#There are many ways of extracting from data frames, but one of the most useful ways is using the function subset()
#the first argument passed is the data frame
#the second is a logical expression indicating which rows to select
#the third is an expression indicating which columns to select (can be logical or simply a vector of column names)

subset(new_frame,column_1 <=2 | column_2=="d",c(column_1,column_3)) #notice now subset has access to the column names themselves!
subset(new_frame,column_1 <=2 | column_2=="d",c(TRUE,FALSE,TRUE)) #doing the same thing as before, just with a logical vector instead of column names

  column_1 column_3
1 1        d
2 2        g
4 4        l

  column_1 column_3
1 1        d
2 2        g
4 4        l

In [ ]:
new_frame <- data.frame("column_1"=c(1,2,3,4),"column_2"=c("a","b","c","d"),"column_3"=c("d","g","f","l"))

#We can also extract elements from data frames by logical vectors (which can be obtained using logical expressions)
new_frame[c(TRUE,FALSE,TRUE,FALSE),c(TRUE,TRUE,FALSE)] #Here I'm just extracting certain rows and columns using logical vectors directly
new_frame[new_frame["column_1"] > 2 | new_frame["column_2"]=="b",] #This is selecting rows using a logical expression

#NOTE: selecting from data frames this way can oftentimes be very verbose, and it is better practice to use subset() over this method

  column_1 column_2
1 1        a
3 3        c

  column_1 column_2 column_3
2 2        b        g
3 3        c        f
4 4        d        l

## Redefining Row and Column Names

In [ ]:
new_frame <- data.frame("column_1"=c(1,2,3,4),"column_2"=c("a","b","c","d"),"column_3"=c("d","g","f","l"))

#We can use the functions row.names() and colnames() to both return names an assign new names to each dimension
row.names(new_frame) #Will return the default numbered row names given to the frame
colnames(new_frame)

row.names(new_frame) <- c("row 1", "row 2", "row 3","row 4") #Must be of the same length as the number of rows
colnames(new_frame) <- c("numbers","letters","more letters") #Must be of the same length as number of columns; works sometimes if it's not but I DO NOT recommend doing this!
print("After renaming:")
print(new_frame)

[1] "1" "2" "3" "4"

[1] "column_1" "column_2" "column_3"

[1] "After renaming:"
      numbers letters more letters
row 1       1       a            d
row 2       2       b            g
row 3       3       c            f
row 4       4       d            l

## Redefining Row and Column Values in Data Frame

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#We can use simple data frame and vector subsetting to redefine values by column
#This is taking all the values in column_2 as a vector, selecting only the ones who are "a" or "g" and assigning "new letter" to them using data recycling
new_frame$column_2[new_frame$column_2 %in% c("a","g")] <- "new letter"

#We can also redefine an entire column like so
new_frame$column_1 <- c(11:20)

View(new_frame)

   column_1 column_2   column_3
1  11       new letter 13
2  12       b          14
3  13       c          15
4  14       d          16
5  15       e          17
6  16       f          18
7  17       new letter 19
8  18       h          20
9  19       i          21
10 20       j          22

Redefining rows is a little different:

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#We can use data frame row selection and vector subsetting to redefine values by column
#This is selecting the first 2 rows from new_frame and assigning this vector of character strings to replace each row
new_frame[c(1:2),] <- c("new_row1","new_row1","new_row1","new_row2","new_row2","new_row2")

#This is selecting the 2nd and 4rd columns from the 4th and 5th row and using data recycling to redefine all of them as this string
new_frame[c(4:5),c("column_2","column_3")] <- "recycled string"

View(new_frame)

   column_1 column_2        column_3
1  new_row1 new_row1        new_row2
2  new_row1 new_row2        new_row2
3  3        c               15
4  4        recycled string recycled string
5  5        recycled string recycled string
6  6        f               18
7  7        g               19
8  8        h               20
9  9        i               21
10 10       j               22

## Removing Rows and Columns from Data Frame

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#To remove rows or columns from a data frame, we can use negative indexing like we do for lists and vectors
new_frame_no_col1 <- new_frame[,-1]
new_frame_norows2to5 <- new_frame[-c(2:5),]
new_frame_nocol3_norows1to7 <- new_frame[-c(1:7),-3]

#To drop columns we can also use NULL assignment like for lists
new_frame$column_2 <- NULL #will remove column_2 from new_frame


print("First Column Removed:")
print(new_frame_no_col1)
print("Rows 2-5 Removed:")
print(new_frame_norows2to5)
print("Rows 1-7 and Column 3 Removed:")
print(new_frame_nocol3_norows1to7)
print("Removing Using Null Assignment:")
print(new_frame)

[1] "First Column Removed:"
   column_2 column_3
1         a       13
2         b       14
3         c       15
4         d       16
5         e       17
6         f       18
7         g       19
8         h       20
9         i       21
10        j       22
[1] "Rows 2-5 Removed:"
   column_1 column_2 column_3
1         1        a       13
6         6        f       18
7         7        g       19
8         8        h       20
9         9        i       21
10       10        j       22
[1] "Rows 1-7 and Column 3 Removed:"
   column_1 column_2
8         8        h
9         9        i
10       10        j
[1] "Removing Using Null Assignment:"
   column_1 column_3
1         1       13
2         2       14
3         3       15
4         4       16
5         5       17
6         6       18
7         7       19
8         8       20
9         9       21
10       10       22

## Adding Rows to Data Frame

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#To add new rows to a data frame use rbind()
#The first argument is the frame to be added to
#The following arguments are vectors, data frames, or lists (or other object, read the docs) to be added
#NOTE: Thing being added MUST correspond to same number of columns AND types as original frame

new_frame <- rbind(new_frame,c(8:10),list(1,"k",23)) #keep in mind elements of a column MUST be the same type so for column_2 the added integer will be coerced to character
added_frame <- data.frame("column_1"=c(1:3),"column_2"=c("added element 1","added element 2","added element 3"),"column_3"=c(100:102))
new_frame <- rbind(new_frame,added_frame) #Make sure the frame being added has the same column names as the original!

print(new_frame)

   column_1        column_2 column_3
1         1               a       13
2         2               b       14
3         3               c       15
4         4               d       16
5         5               e       17
6         6               f       18
7         7               g       19
8         8               h       20
9         9               i       21
10       10               j       22
11        8               9       10
12        1               k       23
13        1 added element 1      100
14        2 added element 2      101
15        3 added element 3      102

## Adding Columns to Data Frame

In [ ]:
#We can columns using values from other columns in the same data frame using transform()
#Note that transform() has access to the column names themselves

new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

transform(new_frame,"new_column" = column_1+column_3,"newer_column" = column_1+10)

   column_1 column_2 column_3 new_column newer_column
1   1       a        13       14         11
2   2       b        14       16         12
3   3       c        15       18         13
4   4       d        16       20         14
5   5       e        17       22         15
6   6       f        18       24         16
7   7       g        19       26         17
8   8       h        20       28         18
9   9       i        21       30         19
10 10       j        22       32         20

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))

#To add new columns from other data structures to a data frame use cbind()
#The first argument is the frame to be added to
#The following arguments are vectors or data frames (or other object, read the docs) to be added
#NOTE: Thing being added MUST correspond to same number of rows as the original frame

new_frame <- cbind(new_frame,"column_4"=c(100:109))
added_frame <- data.frame("column_5"=c(4:13),"column_6"=c(17:26))
new_frame <- cbind(new_frame,added_frame)

print(new_frame)

   column_1 column_2 column_3 column_4 column_5 column_6
1         1        a       13      100        4       17
2         2        b       14      101        5       18
3         3        c       15      102        6       19
4         4        d       16      103        7       20
5         5        e       17      104        8       21
6         6        f       18      105        9       22
7         7        g       19      106       10       23
8         8        h       20      107       11       24
9         9        i       21      108       12       25
10       10        j       22      109       13       26

In [ ]:
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c("a","b","c","d","e","f","g","h","i","j"),"column_3"=c(13:22))
add_list <- list("column_4"=c(100:109),"column_5"=c(4:13),data.frame("column_6"=c(17:26)))

#Combing do.now() and cbind() we can add items from a named list to a data frame as columns
new_frame <- cbind(new_frame,do.call(cbind,add_list))

print(new_frame)

   column_1 column_2 column_3 column_4 column_5 column_6
1         1        a       13      100        4       17
2         2        b       14      101        5       18
3         3        c       15      102        6       19
4         4        d       16      103        7       20
5         5        e       17      104        8       21
6         6        f       18      105        9       22
7         7        g       19      106       10       23
8         8        h       20      107       11       24
9         9        i       21      108       12       25
10       10        j       22      109       13       26

## Dealing with NAs in a Data Frame

A lot of the time we find ourselves with a data frame that has rows with missing data in them (represented by the placeholder `NA`).

In [ ]:
new_frame_w_na <- data.frame("column_1"=c(1,2,3,4,5,NA,NA,NA,9,NA),"column_2"=c("a","b",NA,"d","e","f",NA,"h","i","j"),"column_3"=c(13:22))

#If we want to identify which elements are NA in a data frame we can use the function is.na()
is.na(new_frame_w_na) #returns a matrix of TRUE / FALSE indicating which elements in the frame are NA
is.na(new_frame_w_na$column_1) #we can also use is.na() on specific columns in the frame

      column_1 column_2 column_3
 [1,] FALSE    FALSE    FALSE
 [2,] FALSE    FALSE    FALSE
 [3,] FALSE     TRUE    FALSE
 [4,] FALSE    FALSE    FALSE
 [5,] FALSE    FALSE    FALSE
 [6,]  TRUE    FALSE    FALSE
 [7,]  TRUE     TRUE    FALSE
 [8,]  TRUE    FALSE    FALSE
 [9,] FALSE    FALSE    FALSE
[10,]  TRUE    FALSE    FALSE

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE

In [ ]:
#If we want to remove rows which contain missing elements we can use the function na.omit()
na.omit(new_frame_w_na)

  column_1 column_2 column_3
1 1        a        13
2 2        b        14
4 4        d        16
5 5        e        17
9 9        i        21

# Importing / Exporting Data and Manipulating Working Directories
---

## Getting and Setting Working Directories

Your "working directory" is the default location R will look to read and write files to. You're going to want to set it before you start any project to make sure your files are being read from and written to the correct place.

We can set a working directory with the function:


```
setwd(file_path_here)
```

If you use a single dot `.` in your file path, that will tell R to look in the currently set working directory for the path that comes next. If you use a double dot `..` in your file path, that will tell R to look in the parent directory of the current working directory for the file path that comes next.

Make sure you set your working directory file path with forward slashes NOT backslashes like Windows file paths are!

To check what is set as your current working directory just run this function with no arguments:


```
getwd()
```

In [ ]:
#NOTE: To best understand this code, navigate to the "Files" tab on the left and see where all of these files are relative to each other

#Here, I am setting my working directory to 'home'
setwd("/home")
getwd() #you can see it will print what I just set it to

#Here, I am using the double dot in my file path to tell R to look in the parent directory of the current one (/home)
setwd("../content")
getwd()

#Here, I am using the single dot in my file path to tell R to look in the current working directory
setwd("./sample_data")
getwd()

[1] "/home"

[1] "/content"

[1] "/content/sample_data"

## Importing Data

There are many file reading functions in R and I encourage you to look all of them up, but for today's purposes we are only going to be using the follow function:

```
read.csv()
```

In [ ]:
#You can specify a full file path to your data with read.csv()
imported_data <- read.csv("/content/sample_data/california_housing_train.csv")

#Alternatively, you can set your working directory to the location of your data and simply read the file name
#This is more useful to do when you will be reading multiple files from the same location and don't want to type the full path each time
setwd("/content/sample_data")
imported_data2 <- read.csv("california_housing_test.csv")

head(imported_data)
head(imported_data2)

  longitude latitude housing_median_age total_rooms total_bedrooms population
1 -114.31   34.19    15                 5612        1283           1015
2 -114.47   34.40    19                 7650        1901           1129
3 -114.56   33.69    17                  720         174            333
4 -114.57   33.64    14                 1501         337            515
5 -114.57   33.57    20                 1454         326            624
6 -114.58   33.63    29                 1387         236            671
  households median_income median_house_value
1 472        1.4936        66900
2 463        1.8200        80100
3 117        1.6509        85700
4 226        3.1917        73400
5 262        1.9250        65500
6 239        3.3438        74000

  longitude latitude housing_median_age total_rooms total_bedrooms population
1 -122.05   37.37    27                 3885        661            1537
2 -118.30   34.26    43                 1510        310             809
3 -117.81   33.78    27                 3589        507            1484
4 -118.36   33.82    28                   67         15              49
5 -119.67   36.33    19                 1241        244             850
6 -119.56   36.51    37                 1018        213             663
  households median_income median_house_value
1 606        6.6085        344700
2 277        3.5990        176500
3 495        5.7934        270500
4  11        6.1359        330000
5 237        2.9375         81700
6 204        1.6635         67000

`read.csv()` will read in a CSV (comma-separated value) file as a data frame for you to work with. There are many parameters you can specify for this function, but here are some of the useful ones worth mentioning:

In [ ]:
#If you want to tell R to read or not read the first row as coilumn names, specify the header parameter; the default is TRUE
no_head <- read.csv("/content/sample_data/california_housing_train.csv",header=FALSE) #will read the first row as an observation and assign default column names
w_head <- read.csv("/content/sample_data/california_housing_train.csv",header=TRUE) #will read the first row as the column names

head(no_head)
head(w_head)

  V1          V2        V3                 V4          V5
1 longitude   latitude  housing_median_age total_rooms total_bedrooms
2 -114.310000 34.190000 15.000000          5612.000000 1283.000000
3 -114.470000 34.400000 19.000000          7650.000000 1901.000000
4 -114.560000 33.690000 17.000000          720.000000  174.000000
5 -114.570000 33.640000 14.000000          1501.000000 337.000000
6 -114.570000 33.570000 20.000000          1454.000000 326.000000
  V6          V7         V8            V9
1 population  households median_income median_house_value
2 1015.000000 472.000000 1.493600      66900.000000
3 1129.000000 463.000000 1.820000      80100.000000
4 333.000000  117.000000 1.650900      85700.000000
5 515.000000  226.000000 3.191700      73400.000000
6 624.000000  262.000000 1.925000      65500.000000

  longitude latitude housing_median_age total_rooms total_bedrooms population
1 -114.31   34.19    15                 5612        1283           1015
2 -114.47   34.40    19                 7650        1901           1129
3 -114.56   33.69    17                  720         174            333
4 -114.57   33.64    14                 1501         337            515
5 -114.57   33.57    20                 1454         326            624
6 -114.58   33.63    29                 1387         236            671
  households median_income median_house_value
1 472        1.4936        66900
2 463        1.8200        80100
3 117        1.6509        85700
4 226        3.1917        73400
5 262        1.9250        65500
6 239        3.3438        74000

In [ ]:
#If you want to specify which characters / strings to read as NA, specify the parameter na.strings; takes in a vector of character strings to read as NA
#NOTE: Since na.strings only takes in a vector of character strings, they all must be an EXACT MATCH to how they show up in the CSV (decimals included)

#For this call, it will not actually read the 15 in the frame as NA because if you look in the original data frame, it shows up with trailing 0s (which were eventually) truncated
na_wrong <- read.csv("/content/sample_data/california_housing_train.csv",na.strings=c("15"))

#For this call, it will read the 15 in the frame as NA because I specified it with the right amount of trailing zeroes that was in the original file
na_specified <- read.csv("/content/sample_data/california_housing_train.csv",na.strings=c("15.000000"))

head(na_wrong)
head(na_specified)

#NOTE: I am well aware how clunky this is, and for this reason I recommend you do any NA redefining after you read the file or using the package readr

  longitude latitude housing_median_age total_rooms total_bedrooms population
1 -114.31   34.19    15                 5612        1283           1015
2 -114.47   34.40    19                 7650        1901           1129
3 -114.56   33.69    17                  720         174            333
4 -114.57   33.64    14                 1501         337            515
5 -114.57   33.57    20                 1454         326            624
6 -114.58   33.63    29                 1387         236            671
  households median_income median_house_value
1 472        1.4936        66900
2 463        1.8200        80100
3 117        1.6509        85700
4 226        3.1917        73400
5 262        1.9250        65500
6 239        3.3438        74000

  longitude latitude housing_median_age total_rooms total_bedrooms population
1 -114.31   34.19    NA                 5612        1283           1015
2 -114.47   34.40    19                 7650        1901           1129
3 -114.56   33.69    17                  720         174            333
4 -114.57   33.64    14                 1501         337            515
5 -114.57   33.57    20                 1454         326            624
6 -114.58   33.63    29                 1387         236            671
  households median_income median_house_value
1 472        1.4936        66900
2 463        1.8200        80100
3 117        1.6509        85700
4 226        3.1917        73400
5 262        1.9250        65500
6 239        3.3438        74000

##Exporting Data

Like for reading data, there are many functions to write / save data in R but for today we will just talk about this one:


```
write.csv()
```

In [ ]:
#First, let's import some data
cali_housing <- read.csv("/content/sample_data/california_housing_train.csv")

#Let's do some small changes to this data frame
#This code is just redefining the housing_median_age column to have "old ahh house" for houses with a median age over 15 and "new ahh house" for ones with age below or equal to 15
cali_housing$housing_median_age <- ifelse(cali_housing$housing_median_age > 15, "old ahh house","new ahh house")

#Let's take just the first 5 rows of this modfied frame and write it to a new csv file
cali_housing <- head(cali_housing,n=5)
write.csv(cali_housing,file="/content/sample_data/california_housing_modified.csv")

#NOTE: If you navigate to the "Files" tab on the left and into the sample_data folder you can see our newly written file there!

#Let's have a look at our newly written csv
new_csv <- read.csv("/content/sample_data/california_housing_modified.csv")
View(new_csv)

  X longitude latitude housing_median_age total_rooms total_bedrooms population
1 1 -114.31   34.19    new ahh house      5612        1283           1015
2 2 -114.47   34.40    old ahh house      7650        1901           1129
3 3 -114.56   33.69    old ahh house       720         174            333
4 4 -114.57   33.64    new ahh house      1501         337            515
5 5 -114.57   33.57    old ahh house      1454         326            624
  households median_income median_house_value
1 472        1.4936        66900
2 463        1.8200        80100
3 117        1.6509        85700
4 226        3.1917        73400
5 262        1.9250        65500

# Activity: Let's Work With Some Data!
---

The following code contains a url to a GitHub database containing data about job recruitment posts on LinkedIn. Our goal is to extract some useful information from this dataset using the functions we just learned!

Please keep the code at the top of each code block! This is getting the data frame you will be working with.

In [ ]:
url <- "https://raw.githubusercontent.com/Mlawrence95/LinkedIn-Tech-Job-Data/refs/heads/main/jobs.csv"
job_data <- read.csv(url)

#Put code here to output the names of the variables in this data frame (ie. the column names)
colnames(job_data)

#Put code here to output how many job offerings are in the dataset (ie. the number of rows)
nrow(job_data)

#Put code here to summarize the data frame (hint: use one of the first functions we talked about in the last section!)
summary(job_data)

 [1] "Employment.type"   "Industries"        "Job.function"
 [4] "Seniority.level"   "company"           "company_id"
 [7] "context"           "date"              "description"
[10] "education"         "location"          "months_experience"
[13] "post_id"           "post_url"          "sal_high"
[16] "sal_low"           "salary"            "title"

[1] 8261

 Employment.type     Industries        Job.function       Seniority.level
 Length:8261        Length:8261        Length:8261        Length:8261
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   company            company_id         context              date
 Length:8261        Min.   :    1000   Length:8261        Length:8261
 Class :character   1st Qu.:    4787   Class :character   Class :character
 Mode  :character   Median :  162479   Mode  :character   Mode  :character
                    Mean   : 6680769
                    3rd Qu.: 3334793
                    Max.   :80114151
                    NA's   :481
 description         education           location         months_experience
 Length:8261        Length:8261        Length:8261        Min.   :  3.00
 Class :character   Class :character   Class :character   1st Qu.: 36.00
 Mode  :character   Mode  :character   Mode  :character   Median : 48.00
                                                          Mean   : 50.46
                                                          3rd Qu.: 60.00
                                                          Max.   :180.00
                                                          NA's   :3171
    post_id            post_url            sal_high         sal_low
 Min.   :1.039e+08   Length:8261        Min.   :   100   Min.   :   120
 1st Qu.:2.663e+09   Class :character   1st Qu.:119000   1st Qu.: 75450
 Median :2.682e+09   Mode  :character   Median :151000   Median : 91300
 Mean   :2.680e+09                      Mean   :150923   Mean   : 94314
 3rd Qu.:2.694e+09                      3rd Qu.:180000   3rd Qu.:113000
 Max.   :2.764e+09                      Max.   :416000   Max.   :312000
                                        NA's   :6126     NA's   :6126
    salary             title
 Length:8261        Length:8261
 Class :character   Class :character
 Mode  :character   Mode  :character

In [ ]:
url <- "https://raw.githubusercontent.com/Mlawrence95/LinkedIn-Tech-Job-Data/refs/heads/main/jobs.csv"
job_data <- read.csv(url)

#Now define a new data frame with a name of your choice that includes every column of job_data EXCEPT the columns "description","context", and "post_url"
new_job_data <- subset(job_data,select=-c(description,context,post_url))

#Put code here to print the first 3 job listings / rows in the newly made data frame
head(new_job_data,n=3)

#Put code here to order the data frame rows by decreasing values of variable sal_low
#Assign this ordered frame to a new variable then print the first and last 2 rows of it
ordered_job_data <- new_job_data[order(new_job_data$sal_low,decreasing=TRUE),]
head(ordered_job_data,n=2)
tail(ordered_job_data,n=2)

  Employment.type
1 Full-time
2 Full-time
3 Full-time
  Industries
1 Broadcast Media
2 Hospital & Health Care, Medical Devices, and Pharmaceuticals
3 Computer Hardware, Computer Software, and Information Technology and Services
  Job.function                           Seniority.level  company
1 Information Technology                 Mid-Senior level CyberCoders
2 Engineering and Information Technology Not Applicable   Johnson & Johnson
3 Engineering and Information Technology Not Applicable   Microsoft
  company_id date education       location        months_experience post_id
1 21836           bachelor degree Alexandria, VA  60                2632814552
2  1207           bachelor degree Santa Clara, CA 96                2632810866
3  1035           bachelor degree Washington, DC  84                2632812746
  sal_high sal_low salary
1     NA       NA
2     NA       NA
3 189000   120000  $120,000.00/yr - $189,000.00/yr
  title
1 Senior Data Engineer
2 Principal Full Stack Software Engineer.
3 Senior Software Engineer

     Employment.type Industries
6504 Full-time       Oil & Energy
459  Contract        Pharmaceuticals and Medical Devices
     Job.function                       Seniority.level  company
6504 Information Technology             Associate        AllTech Systems, Inc.
459  Engineering, Research, and Science Mid-Senior level Tech Observer
     company_id date                       education
6504 1507659    2021-08-30 17:49:18.871675 bachelor degree
459   878413                               bachelor degree
     location                  months_experience post_id    sal_high sal_low
6504 Greater Houston           NA                2702731747 416000   312000
459  California, United States NA                2647421535 280800   249600
     salary                  title
6504 $150.00/hr - $200.00/hr Machine Learning Engineer V
459  $120.00/hr - $135.00/hr Machine Learning Engineer

     Employment.type
8260
8261 Full-time
     Industries
8260
8261 Marketing and Advertising, Information Technology and Services, and Computer Software
     Job.function                           Seniority.level  company
8260                                                         Flowspace
8261 Engineering and Information Technology Mid-Senior level Adobe
     company_id date                       education       location
8260   NA       2021-10-17 23:51:08.758745                 Los Angeles, CA
8261 1480       2021-10-17 23:51:11.907258 bachelor degree Austin, TX
     months_experience post_id    sal_high sal_low salary
8260 NA                2754349591 NA       NA
8261 36                2751979003 NA       NA
     title
8260 Site Reliability / DevOps Engineer (Remote)
8261 Site Reliability Engineer

In [ ]:
url <- "https://raw.githubusercontent.com/Mlawrence95/LinkedIn-Tech-Job-Data/refs/heads/main/jobs.csv"

#Put code here to read in the csv given by the link url into a variable job_data
#But specify it to read blank strings, strings with one space, and strings with two spaces (""," ", and "  ") as NA
job_data <- read.csv(url,na.strings=c(""," ","  "))

#Put code here to remove the rows of job_data with NA values in it and reassign job_data to this new NA-less frame
job_data <- na.omit(job_data)

#Put code here to add a new column called "sal_range" to job_data defined as the "sal_high" minus the "sal_low" column
job_data <- transform(job_data,"sal_range"=sal_high-sal_low)

#Put code here to save a vector of the names of the companies who have salary ranges less than the mean salary range and "Full-time" as their Employment type
#Hint 1: To get the company names, use the function unique() so you aren't printing duplicate company names
#Hint 2: Consider taking a little peak into the functions in the next section to calculate the mean salary range
mean_sr <- mean(job_data$sal_range)
company_vector <- subset(job_data,job_data$Employment.type=="Full-time" & job_data$sal_range < mean_sr)$company
unique_companies <- unique(company_vector)

#Put code here to output the unique names of the companies who are in the data frame but ARE NOT in the vector of company names made before
#Hint: Consider using the operator %in% which returns a logical vector of if the left-hand side values are in the right-hand side argument
all_companies_excluded <- unique(job_data$company[!(job_data$company %in% unique_companies)])
all_companies_excluded

  [1] "Suzy"
  [2] "Illumina"
  [3] "Nordstrom"
  [4] "Hewlett Packard Enterprise"
  [5] "Jobot"
  [6] "FocusKPI, Inc."
  [7] "Yoh, A Day & Zimmermann Company"
  [8] "Doma (fka States Title)"
  [9] "Abbott"
 [10] "Optello"
 [11] "Turnitin"
 [12] "NinjaHoldings"
 [13] "BetterHelp.com"
 [14] "Unsupervised"
 [15] "test.ai"
 [16] "Walrus Health"
 [17] "Springshot"
 [18] "Bubble"
 [19] "Glossier, Inc."
 [20] "Meetup"
 [21] "Expedia Group"
 [22] "TechFlow, Inc."
 [23] "Cockroach Labs"
 [24] "Lightelligence"
 [25] "Applied Systems"
 [26] "David's Bridal"
 [27] "ClearanceJobs"
 [28] "YouGov"
 [29] "Sony Pictures Entertainment"
 [30] "Choreograph"
 [31] "BLACKBIRD.AI"
 [32] "Expeditors"
 [33] "Addison Group"
 [34] "Derex Technologies Inc"
 [35] "Amwell"
 [36] "310 Nutrition"
 [37] "Bose Corporation"
 [38] "WEX"
 [39] "TripActions"
 [40] "IQVIA"
 [41] "BAE Systems"
 [42] "Xandr"
 [43] "Calypso Technology"
 [44] "Square"
 [45] "SmileDirectClub"
 [46] "GLG"
 [47] "Embark Trucks"
 [48] "Daily Harvest"
 [49] "The Walt Disney Company"
 [50] "PGA of America"
 [51] "LockerDome"
 [52] "California Dental Association"
 [53] "Lightmatter"
 [54] "Reddit, Inc."
 [55] "Specific Diagnostics"
 [56] "Alion Science and Technology"
 [57] "Intel Corporation"
 [58] "Toyota Research Institute"
 [59] "OpenAI"
 [60] "Visual Concepts"
 [61] "The RealReal"
 [62] "WeWork"
 [63] "Hiretual"
 [64] "MAPSYS Inc."
 [65] "Octane"
 [66] "Alert Logic"
 [67] "Ring"
 [68] "Delta Air Lines"
 [69] "Covera Health"
 [70] "Quip"
 [71] "Payscale"
 [72] "symplr"
 [73] "Brivo"
 [74] "StockX"
 [75] "Flashpoint"
 [76] "[24]7.ai"
 [77] "Udemy"
 [78] "Cloudflare"
 [79] "Figma"
 [80] "Warner Bros. Entertainment"
 [81] "Brillio"
 [82] "Tiger Analytics"
 [83] "The Clorox Company"
 [84] "Akamai Technologies"
 [85] "HOMER"
 [86] "EnergyHub"
 [87] "Well Health Inc."
 [88] "S&P Global Market Intelligence"
 [89] "Airlines Reporting Corporation (ARC)"
 [90] "Altice USA"
 [91] "Thales"
 [92] "Aurora"
 [93] "Quantitative Systems"
 [94] "BlackRock"
 [95] "Roblox"
 [96] "Zywave"
 [97] "Zscaler"
 [98] "Teladoc Health"
 [99] "SpaceX"
[100] "Charles Schwab"
[101] "ECP"
[102] "Fifth Season"
[103] "Finicity, a Mastercard Company"
[104] "RealSelf"
[105] "The Climate Corporation"
[106] "Honey"
[107] "Lyft"
[108] "ByteDance"
[109] "VanderHouwen"
[110] "Patreon"
[111] "Intermountain Healthcare"
[112] "Cohesity"
[113] "GoFundMe"
[114] "Zoom"
[115] "Snap Inc."
[116] "Saks Fifth Avenue"
[117] "Snapdocs"
[118] "Fivestars"
[119] "Ripple"
[120] "Verily Life Sciences"
[121] "GameStop"
[122] "Quorum"
[123] "Datadog"
[124] "Cedar"
[125] "Zemantics Inc."
[126] "Seneca Resources"
[127] "Bank of America"
[128] "Sonos, Inc."
[129] "Applicantz"
[130] "Bolt"
[131] "Strategic Staffing Solutions"
[132] "Toptal"
[133] "Equifax"
[134] "Applied Resource Group"
[135] "PepsiCo"
[136] "Citadel"
[137] "Zendesk"
[138] "Prosper Marketplace"
[139] "Allied OneSource"
[140] "Evolytics"
[141] "Electric"
[142] "BridgeView"
[143] "Hyundai Mobis North America"
[144] "Liberty Lending, LLC"
[145] "Blue River Technology"
[146] "Dow"
[147] "Sayva Solutions"
[148] "GitHub"
[149] "Amerit Consulting"
[150] "Centurion Consulting Group, LLC"
[151] "Allied World"
[152] "Instrumental Inc."
[153] "Hulu"
[154] "XSELL Technologies"
[155] "iptiQ by Swiss Re"
[156] "Plume Design, Inc"
[157] "Revolution Technologies"
[158] "Favor Delivery"
[159] "F5"
[160] "NASA Jet Propulsion Laboratory"
[161] "Fortinet"
[162] "DIRECTV"
[163] "ACL Digital"
[164] "Macro Solutions"
[165] "AssemblyAI"
[166] "Wing"
[167] "Citi"
[168] "FreshDirect"
[169] "Kraken Digital Asset Exchange"
[170] "Clover Network, Inc."
[171] "Interactive Resources - iR"
[172] "Nuance Communications"

In [ ]:
url <- "https://raw.githubusercontent.com/Mlawrence95/LinkedIn-Tech-Job-Data/refs/heads/main/jobs.csv"
job_data <- read.csv(url)

#Put code here to create a named list called comp_list that satisfy the following:
#The values of the list should be a vector that aggregates the values for sal_low for each company job listing
#The names of the list should be the unique company name that corresponds to each aggregated vector
#Hint: Look at the documentation for split() to figure this one out!
comp_list <- split(job_data$sal_low,job_data$company)

#Put code here to calculate and save a vector called mean_comp_vector that calculates the mean of every vector in comp_list
#Hint: Read the documentation of the function you should be using here to find out how to deal with all those NA data values
mean_comp_vector <- sapply(comp_list,mean,na.rm=TRUE)

#If you print the variable mean_comp_vector you just created, you should notice some values in the vector are NaN
#This is because the sal_low for those companies was only NAs so mean() had nothing to calculate
#To fix this, redefine every value of mean_comp_vector that is NaN to be zero
#Hint: Consider using the function is.nan()
mean_comp_vector[is.nan(mean_comp_vector)] <- 0

#Finally, print the name of the company with the HIGHEST value in mean_comp_vector
#This is the company with the highest average minimum salary in their listings
#Hint: Look at the documentation for which.max() to do this
names(mean_comp_vector)[which.max(mean_comp_vector)]

[1] "AllTech Systems, Inc."

# Mathematical and Statistical Functions
---

So far the stuff we have gone over is pretty boring *I know*. But this is where R truly gets to shine. If there is a statistical function out there, R most certainly has it! It's just one documentation search away.

NOTE: Many mathematical functions in R, including `mean()`, `sum()`, and `median()` among others, have the parameter `na.rm` which, when set to `TRUE`, will make the function ignore any `NA` data values passed in, like so:


```
mean(data_here, na.rm=TRUE)
median(data_here, na.rm=TRUE)
```


The default value of the `na.rm` parameter for most functions that use it is `FALSE`. Setting it to `TRUE` is especially useful when working with incomplete data sets. Please look at the documentation for specifics on which functions have this parameter.

## Basic Mathematical Functions

### Sum

In [ ]:
#This function simply computes the sum of the values or iterables passed in (note it does not work on lists directly)
sum(1,2,3)
sum(1,c(2,3)) #does the same thing as previous


#To have sum() work on a list, you must use unlist() to turn it into a vector
lst <- list(1,2,3)
sum(unlist(lst))

#sum() also works on data frames
new_frame <- data.frame("column_1"=c(1:10),"column_2"=c(11:20),"column_3"=c(21:30))
sum(new_frame) #will attempt to coerce every value in the data frame into a single vector and sum the entire data frame

#If we just want to find the sum of the values by row or column we can use the following functions
colSums(new_frame)
rowSums(new_frame)

#NOTE: To use any of these functions make sure the data passed in are ONLY numeric types or can be coerced to them

[1] 6

[1] 6

[1] 6

[1] 465

column_1 column_2 column_3
      55      155      255

 [1] 33 36 39 42 45 48 51 54 57 60

### Trigonometric Functions

In [ ]:
sin(pi) #you can see that it returns an approximation (ie. a number very very close to 0 but not exactly 0)
cos(c(0,pi/2,pi,3*pi/2,2*pi)) #you can have it calculate for each value in a vector
tan(0)

#These are inverse trig functions
acos(1/2)
asin(0)
atan(1)

#These functions will simply calculate the argument times pi and evaluate it; they tend to produce a more exact value than multiplying by pi directly
sinpi(1)
cospi(2)
tanpi(0.5) #this will produce a NaN because we are dividing by 0

[1] 1.224647e-16

[1]  1.000000e+00  6.123234e-17 -1.000000e+00 -1.836970e-16  1.000000e+00

[1] 0

[1] 1.047198

[1] 0

[1] 0.7853982

[1] 0

[1] 1

Warning message in tanpi(0.5):
“NaNs produced”

[1] NaN

### Absolute Value

In [ ]:
abs(-10)
abs(c(-2,-1,0,1,2))

#It even works on matrices
matrx <- matrix(c(-1,-2,-3.14,-5),2,2)
abs(matrx)

[1] 10

[1] 2 1 0 1 2

     [,1] [,2]
[1,] 1    3.14
[2,] 2    5.00

### Square Root, Logs, and Exponents

In [ ]:
sqrt(2)
sqrt(c(1,2,3))

[1] 1.414214

[1] 1.000000 1.414214 1.732051

In [ ]:
2^5
3^4
exp(3) #calculates e to the power of the argument passed in

[1] 32

[1] 81

[1] 20.08554

In [ ]:
log(5) #by default, log is ln(x)
log(9,base=3) #you can also specify a base too
log10(100) #calculates log base 10
log2(8) #calculates log base 2

[1] 1.609438

[1] 2

[1] 2

[1] 3

### Rounding, Floor, and Ceiling

In [ ]:
#The basic round() function will round to the specified number of decimal places, which is by default 0
round(3.14)
round(c(3.5,4.5)) #uses "banker's rounding" where values halfway between two possibilities are rounding to nearest EVEN number
round(3.56435,digits=4) #specifying to round to 4 decimal places
round(38912.4532,digits=-2) #negative digits will round to places left of the decimal point (so here it rounds to hundreds)

[1] 3

[1] 4 4

[1] 3.5644

[1] 38900

In [ ]:
#You can find the floor and ceiling like so
floor(3.14)
floor(-3.14)
ceiling(3.14)
ceiling(-3.14)

[1] 3

[1] -4

[1] 4

[1] -3

In [ ]:
#The function trunc() will just "chop off" the decimal places

#It works similar to floor() for positive numbers
trunc(3.7)
floor(3.7)

#But for negatives it is different
trunc(-3.7)
floor(-3.7)

[1] 3

[1] 3

[1] -3

[1] -4

## Basic Statistical Functions

### Measures of Center (Mean and Median)

In [ ]:
mean(c(1,2,3,4,-1,-2,-3,-4))
median(c(1,2,3,4,-1,-2,-3,-4,-5))
median(c(1,2,3,4,-1,-2,-3,-4)) #will average the two "middle" values for datasets with an even number of elements

#NOTE: There is actually no function to find the mode in R; the mode() function does something different than the statistical mode!
#PS: Yes, I know this is dumb; I actually didn't know there was no mode function until I starting writing this workshop lol

[1] 0

[1] -1

[1] 0

### Measures of Spread (Standard Deviation, Variance, IQR, Range)

In [ ]:
#The standard deviation and variance functions will calculate the SAMPLE versions of them
#To get the population versions you will unfortunately have to multiply by sqrt((n-1)/n) yourself or download a package them
sd(c(1:4))
var(c(1:4))
IQR(c(1:4))
range(c(1:4))

[1] 1.290994

[1] 1.666667

[1] 1.5

[1] 1 4

### Minimum, Maximum, and Quantiles

In [ ]:
min(c(-2,3,0,-pi))
max(c(-2,3,0,-pi))

#The quantile function returns a named vector with the quantile name and value
#The first argument is data to find quantiles of and second argument is the quantiles you want to find
quantile(c(-2,3,0,-pi),c(0,0.25,0.5,0.75,1))

#Just like for other named vectors, you can access its elements by name
quantile(c(-2,3,0,-pi),c(0.5,0.75))["75%"]

[1] -3.141593

[1] 3

       0%       25%       50%       75%      100%
-3.141593 -2.285398 -1.000000  0.750000  3.000000

 75%
0.75

## Advanced Statistical Functions

### Distribution Functions

Throwback to stats class time!! Here is a handy table to describe all the probability distribution function types and what they do for discrete and continuous distributions:

|  | Discrete | Continuous | Examples |
|---|---|---|---|
| **D-Functions** | Calculates the probability mass function of a value | Calculates the probability density function of a value | `dbinom` or `dnorm` |
| **P-Functions** | Calculates the cumulative distribution function of a value  | Calculates the cumulative distribution function of a value | `pbinom` or `pnorm` |
| **Q-Functions** | Calculates the quantile for a given cumulative probability (inverse CDF) | Calculates the quantile for a given cumulative probability (inverse CDF) | `qbinom` or `qnorm` |
| **R-Functions** | Generates random numbers from a probability distribution | Generates random numbers from a probability distribution | `rbinom` or `rnorm` |

#### Probability Mass / Density Functions [D-Functions]

In [ ]:
#These are continuous distributions; in order they are: normal, uniform, exponential, student's T
#Remember, the PDF of a continuous distribution does NOT give a probability, it gives a relative likelihood!
dnorm(3,mean=0,sd=1)
dunif(0.5,min=0,max=1)
dexp(0.3,rate=pi)
dt(1.5,df=30)

[1] 0.004431848

[1] 1

[1] 1.224157

[1] 0.1289616

In [ ]:
#These are discrete distributions; in order they are: binomial, poisson, geometric, hypergeometric
#The PMF of a discrete distribution DOES give a probability unlike for continuous distributions
dbinom(10,size=40,prob=0.2)
dpois(13,lambda=10)
dgeom(4,prob=0.4) #first argument is the number of FAILURES before first success, not trials!
dhyper(3,m=8,n=10,k=7) #m is the number of success states, n is the number of failure states, and k is the number of draws

[1] 0.1074537

[1] 0.07290795

[1] 0.05184

[1] 0.3695324

#### Cumulative Distribution Functions [P-Functions]

In [ ]:
#For the continuous distributions
pnorm(3,mean=0,sd=1)
punif(0.5,min=0,max=1)
pexp(0.3,rate=pi)
pt(1.5,df=30)

[1] 0.9986501

[1] 0.5

[1] 0.6103389

[1] 0.927967

In [ ]:
#For the discrete distributions
pbinom(10,size=40,prob=0.2)
ppois(13,lambda=10)
pgeom(4,prob=0.4)
phyper(3,m=8,n=10,k=7)

[1] 0.8392309

[1] 0.8644644

[1] 0.92224

[1] 0.647813

#### Quantile Functions / Inverse CDF [Q-Functions]

In [ ]:
#For the continuous distributions
qnorm(0.99865010196837,mean=0,sd=1)
qunif(0.5,min=0,max=1)
qexp(0.610338862624653,rate=pi)
qt(0.927967035435677,df=30)

#You can see these return the opposite of the P-function's output (that's how inverse functions work >_<)

[1] 3

[1] 0.5

[1] 0.3

[1] 1.5

In [ ]:
#For the discrete distributions
qbinom(0.839230852002381,size=40,prob=0.2)
qpois(0.864464422619311,lambda=10)
qgeom(0.92224,prob=0.4)
qhyper(0.647812971342383,m=8,n=10,k=7)

[1] 10

[1] 13

[1] 4

[1] 3

#### Random Number Generation [R-Functions] and Seeding

In [ ]:
#For the continuous distributions
#The first value passed in is the number of random numbers you want to be generated (returned as a vector)
print("6 Random Numbers from Normal Distribution: ")
rnorm(6,mean=0,sd=1)
print("4 Random Numbers from Uniform Distribution: ")
runif(4,min=0,max=1)
print("5 Random Numbers from Exponential Distribution: ")
rexp(5,rate=pi)
print("3 Random Numbers from T Distribution: ")
rt(3,df=30)

#Run this code multiple times, you'll notice the numbers are different each time
#That's expected, these are random samples after all!

[1] "6 Random Numbers from Normal Distribution: "

[1]  1.7784293  0.1344477  0.7655990  0.9551367 -0.0505657 -0.3058154

[1] "4 Random Numbers from Uniform Distribution: "

[1] 0.8142518 0.9287772 0.1474810 0.7498217

[1] "5 Random Numbers from Exponential Distribution: "

[1] 0.07736048 0.02353042 0.34307299 0.02104704 0.02469722

[1] "3 Random Numbers from T Distribution: "

[1]  0.6665945 -1.7917553 -0.5054215

In [ ]:
#For the discrete distributions
#The first value passed in is the number of random numbers you want to be generated (returned as a vector)
print("6 Random Numbers from Binomial Distribution: ")
rbinom(6,size=40,prob=0.2)
print("4 Random Numbers from Poisson Distribution: ")
rpois(4,lambda=10)
print("5 Random Numbers from Geometric Distribution: ")
rgeom(5,prob=0.4)
print("3 Random Numbers from Hypergeometric Distribution: ")
rhyper(3,m=8,n=10,k=7)

[1] "6 Random Numbers from Binomial Distribution: "

[1]  4  9  9 11  7 12

[1] "4 Random Numbers from Poisson Distribution: "

[1]  7  4 14 13

[1] "5 Random Numbers from Geometric Distribution: "

[1] 2 2 0 0 0

[1] "3 Random Numbers from Hypergeometric Distribution: "

[1] 3 5 2

In [ ]:
#Let's say you want the random numbers generated (and any other random processes in your code) to be the same each time
#To do this, you can set a seed like so
set.seed(1)

#Now you can run this code multiple times and see these random processes return the same thing each time!
rnorm(1,mean=0,sd=1)
rbinom(1,size=40,prob=0.2)

#This can be very useful when debugging and testing code without having to worry about constantly changing outputs

[1] -0.6264538

[1] 8

### Hypothesis Testing and Confidence Intervals

There are *so many* hypothesis test functions avaliable in R, but today we are only going to go over the most common and basic ones you encounter most often:

*   Proportion Tests
*   T-Tests

### Proportion Tests

Use the `prop.test()` function with the following parameters:

* `x` = number of observed successes in sample
* `n` = sample size
* `p` = value of the hypothesized parameter
* `alternative` = one of three strings specifying the tailedness of the test: `"two.sided"`, `"greater"`, or `"less"`
* `conf.level` = specify the confidence level of the outputted confidence interval
* `correct` = `TRUE` or `FALSE`, indictating whether the Yates correction for continuity should be used or not


These are the default parameters for `prop.test()`:

* `x` has no default and is required
* `n` has no default but is only required when `x` is a vector; it is ignored when `x` is a matrix or data table
* `p = NULL`
* `alternative = "two.sided"`
* `conf.level = 0.95`
* `correct = TRUE`


Please note from the code below that `prop.test()` actually runs a test using the Chi-Square distribution (specifically Pearson's Chi-Square along with potentially Yate's correction for continuity against a Chi-Square distribution with 1 degrees of freedom) NOT the Z distribution like we may be familiar with from Stats 1.

In [ ]:
#prop.test() will return a named list containing the outputs you see in the console

#A two-sided test on one proportion against the null p = 0.45
prop.test(x=30,n=50,p=0.45)

#A one-sided test on two proportions (to see if the first proportion is less than the second); if p is not specified it will test for equality
prop.test(x=c(30,15),n=c(80,36),alternative = "less",correct=FALSE)

	1-sample proportions test with continuity correction

data:  30 out of 50, null probability 0.45
X-squared = 3.9596, df = 1, p-value = 0.0466
alternative hypothesis: true p is not equal to 0.45
95 percent confidence interval:
 0.4520484 0.7326707
sample estimates:
  p
0.6

	2-sample test for equality of proportions without continuity correction

data:  c(30, 15) out of c(80, 36)
X-squared = 0.18153, df = 1, p-value = 0.335
alternative hypothesis: less
95 percent confidence interval:
 -1.0000000  0.1201758
sample estimates:
   prop 1    prop 2
0.3750000 0.4166667

### T-Tests

Use the `t.test()` function with the following parameters (there are more parameters but these are the important ones):

* `x` = a numeric vector of observations
* `y` = another optional numeric vector of observations
* `alternative` = one of three strings specifying the tailedness of the test: `"two.sided"`, `"greater"`, or `"less"`
* `mu` = value of the hypothesized mean
* `paired` = `TRUE` or `FALSE`, indicating whether to use a paired t-test or not
* `var.equal` = `TRUE` or `FALSE`, indicating whether to treat the two variances as equal and use the pooled variance or not
* `conf.level` = specify the confidence level of the outputted confidence interval

These are the default parameters for `t.test()`:

* `x` has no default and is required
* `y = NULL`
* `alternative = "two.sided"`
* `mu = 0`
* `paired = FALSE`
* `var.equal = FALSE`
* `conf.level = 0.95`

In [ ]:
#t.test() will return a named list containing the outputs you see in the console

#A two-sided t-test on the given data against the default null mu = 0
t.test(x=c(-1,2,3,9,-3))

#A one-sided two sample t-test on the given data sets against the null mu = 3
t.test(x=c(-1,2,3,9,-3),y=c(4,10,2,8,-5,1),mu=3,alternative="greater",var.equal=TRUE)

	One Sample t-test

data:  c(-1, 2, 3, 9, -3)
t = 0.9759, df = 4, p-value = 0.3844
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 -3.690019  7.690019
sample estimates:
mean of x
        2

	Two Sample t-test

data:  c(-1, 2, 3, 9, -3) and c(4, 10, 2, 8, -5, 1)
t = -1.4239, df = 9, p-value = 0.9059
alternative hypothesis: true difference in means is greater than 3
95 percent confidence interval:
 -6.912062       Inf
sample estimates:
mean of x mean of y
 2.000000  3.333333

# Iteration and Selection (Loops and If-Else Statements)
---

These structures look and function quite similar to ones in other languages (particularly those in the C-language family).

If I'm being quite honest, you should ideally not need explicit iterative structures like `for` and `while` loops in R. This is because most tasks can be done simpler and more efficiently using R's many functions and packages. That is to say, if you find yourself diverting a ton to loops, you may not be using R to its full potential and might want to consider looking up some functions that probably do exactly what you are writing a loop for but in a simpler way!

Using loops should be treated as a *last resort* in R as opposed to the standard for solving problems like it is in other programming languages.

## Selection

R has two kinds of selection types:

1. Using the classic if-else statement structure (similar to Python and other languages)

2. The `ifelse()` function

Let's go over each:

### If-Else Statements

In [ ]:
#We can define a classic if-else statement like so
x <- 10
if (x>12){
  print("First condition is true!")
} else if (x<12){
  print("Second condition is true!")
} else {
  print("No condition is true :(")
}

#NOTE: The 'else if' and 'else' MUST be on the same line as the curly brace from the previous condition! This is a stupid quirk R has

[1] "Second condition is true!"

In [ ]:
#We can also nest if-else statements
x <- 10
if (x>12){
  print("First condition is true!")
} else if (x<12){
  print("Second condition is true!")
  #Nesting starts here
  if (typeof(x)=="character"){
    print("This is of type character!")
  } else if (typeof(x)=="integer"){
    print("This is of type integer!")
  } else {
    print("This is of some other type!")
  }
  #Nesting ends here
} else {
  print("No condition is true :(")
}

[1] "Second condition is true!"
[1] "This is of some other type!"

###ifelse() Function

When evaluating a condition for each element of a vector, don't use an if-else statement. Use the `ifelse(test,yes,no)` function!

This function basically evaluates the logical expression `test` for each element in a vector and returns the argument from `yes` if its TRUE and `no` if its FALSE in a single vector.

In [ ]:
df <- data.frame("column_1"=c(1:10))

#Note that %% is the modulo operator
#The first expression evaluates to a logical vector and the subsequent arguments are what ifelse() converts the TRUEs and FALSEs to
ifelse(df$column_1%%2==0 | df$column_1%%3==0, "Divisible by 2 or 3","Not divisible by 2 or 3")
ifelse(df$column_1%%2==0 & df$column_1%%3==0, "Divisible by 2 and 3","Not divisible by 2 and 3") #Will only return the TRUE statement for one number: 6

 [1] "Not divisible by 2 or 3" "Divisible by 2 or 3"
 [3] "Divisible by 2 or 3"     "Divisible by 2 or 3"
 [5] "Not divisible by 2 or 3" "Divisible by 2 or 3"
 [7] "Not divisible by 2 or 3" "Divisible by 2 or 3"
 [9] "Divisible by 2 or 3"     "Divisible by 2 or 3"

 [1] "Not divisible by 2 and 3" "Not divisible by 2 and 3"
 [3] "Not divisible by 2 and 3" "Not divisible by 2 and 3"
 [5] "Not divisible by 2 and 3" "Divisible by 2 and 3"
 [7] "Not divisible by 2 and 3" "Not divisible by 2 and 3"
 [9] "Not divisible by 2 and 3" "Not divisible by 2 and 3"

## For Loops

In [ ]:
#We define a for-loop like so
iterable_object <- c(2,5,7,8) #this can be any iterable object including a list, matrix, array, etc.
for (counter_name in iterable_object){
  print(counter_name)
}

[1] 2
[1] 5
[1] 7
[1] 8
[1] 2
[1] 5
[1] 7
[1] 8

In [ ]:
#Like other languages, we cannot just redefine the counter inside the loop, it will always follow the order of the iterable_object
iterable_object <- c(2,5,7,8)
for (counter_name in iterable_object){
  print(counter_name)
  counter_name <- 3
}

[1] 2
[1] 5
[1] 7
[1] 8

In [ ]:
iterable_object <- matrix(c(1:10),5,2)

#We can also nest loops
for(counter_name in c(1:nrow(iterable_object))){
  for(nested_counter in c(1:ncol(iterable_object))){
    #paste() concatenates character strings using a defined separator (sep =)
    print(paste(counter_name,nested_counter,iterable_object[counter_name,nested_counter],sep=", "))
  }
}

[1] "1, 1, 1"
[1] "1, 2, 6"
[1] "2, 1, 2"
[1] "2, 2, 7"
[1] "3, 1, 3"
[1] "3, 2, 8"
[1] "4, 1, 4"
[1] "4, 2, 9"
[1] "5, 1, 5"
[1] "5, 2, 10"

## While Loops

Just like while loops in other languages, make sure you don't code an infinite loop!!

In [ ]:
#We define a while loop like so
counter <- 5
#The loop condition will coerce whatever is passed in to a single logical value (TRUE or FALSE)
#Remembering back our rules of type conversion, R interprets all non-zero numbers as TRUE and 0 as FALSE
#This loop will end when counter gets set down to 0, resulting in FALSE and the loop stopping
while(counter){
  counter = counter - 1
  print(counter)
}

[1] 4
[1] 3
[1] 2
[1] 1
[1] 0

In [ ]:
#We can use 'next' to skip the current iteration and go to the next one
counter <- 5
while(counter){
  counter = counter - 1
  if (counter == 3){
    print("let's just skip 3")
    next
  }
  print(counter)
}

[1] 4
[1] "let's just skip 3"
[1] 3
[1] 2
[1] 1
[1] 0

In [ ]:
#We can also use 'break' to end the loop early
counter <- 5
while(counter){
  counter = counter - 1
  if (counter == 3){
    print("i'm too impatient for this, get it over with!")
    break
  }
  print(counter)
}

[1] 4
[1] "i'm too impatient for this, get it over with!"

# Defining Our Own Functions
---

We have talked a lot about built-in functions in R, but we can also define our own using `function()`:

In [ ]:
new_function <- function(par1,par2,par3){
  if (par1+par2+par3>3){
    return("Large Sum")
  }
  return("Small Sum")
}

new_function(1,2,3)
new_function(1,0,2)

[1] "Large Sum"

[1] "Small Sum"

In [ ]:
#We can also define default parameters using =
newer_function <- function(par1=0,par2=0,par3){
  if (par1+par2+par3>3){
    return("Large Sum")
  }
  return("Small Sum")
}

#When we don't pass in a value for a parameter in a call, it will use the default parameter
newer_function(par1=4,par3=1)
newer_function(par3=2)

[1] "Large Sum"

[1] "Small Sum"

# Activity: Making a Monte Carlo Simulation in R!
---

Try to solve this integral (and **NO** looking it up!):

$$\int^{2}_{-2}{e^{-x^2}}dx$$

**Spoiler Alert**: You probably can't. At least by hand, that is! This is where something in statistics called a *Monte Carlo Simulation* comes in and can help us approximate this value using random sampling.

For those of us unfamiliar, this integral is pretty much just the area under the curve $e^{-x^2}$ and above the x-axis from $x=-2$ to $x=2$. We can imagine our function placed inside a box from $x=-2$ to $x=2$ and $y=0$ to $y=2$ like so:

![monte.png]()

If we were to place points uniformly at random within this defined box, we would expect exactly $\frac{A_1}{A_2}$, where $A_1$ is the area under the curve (a.k.a the value of interest) and $A_2$ is the area of the entire box, of the points to fall under the curve. This means if we take an estimate for this proportion of points ($\frac{A_1}{A_2}$) and multiply it by $A_2$, we should get an approximation for $A_1$, which is what we want!

A Monte Carlo algorithm does exactly this:


1. Samples a random point within the defined box

2. Decides if that point lies under the curve of interest (in our case, $e^{-x^2}$)

3. If the point does lie under the curve, it increments a counter of random points sampled that lie under the curve; it also increments another counter regardless of if the point lies under the curve to keep track of the total number of points sampled

4. Repeats Steps 1-4 many times (until a certain number of points are sampled, typically)

5. Calculates the proportion of sampled points that fell under the curve by taking the ratio of the two counters

6. Finally, it calculates the area of interest by taking the proportion calculated in Step 5 and multiplying it by the area of the entire box (in our case, $4\cdot2=8$)

It follows from the *Law of Large Numbers* that the more random points we sample using the Monte Carlo method, the more accurate our approximation gets!

In [1]:
#Let's code a Monte Carlo Algorithm Using what we just learned!

#Put code here to define a function called monte_algo with one parameter: n_sample (which will define how many points our simulation draws to make its approximation)
#Make the default value of n_sample 10^6
#The code after this point should go INSIDE the function
monte_algo <- function(n_sample=10^6){
  #Put code here to define 2 counter variables (one for the total # of points sampled and another for the # of points sampled that lie under the curve)
  #Set them both to 0 to start
  counter_total <- 0
  counter_under <- 0

  #Put code here to loop the following code as long as the # of points sampled is less than n_sample
  while(counter_total<n_sample){
    #Inside the loop, put code to sample and save a random point in the box from x=-2 to x=2 and y=0 to y=2
    #Hint: Use runif()
    sample_point <- c(runif(1,-2,2),runif(1,0,2))
    #Inside the loop, put code to check if the sampled point is under the curve, and if it is, increment the appropriate counter made at the start by 1
    if (sample_point[2]<exp(-(sample_point[1]^2))){
      counter_under <- counter_under + 1
    }
    #Inside the loop, put code to increment the counter for the # of points sampled by 1; do this regardless of if the point sampled lies under the curve or not!
    counter_total <- counter_total + 1
  }
  #Outside the loop, put code to calculate the proportion of points sampled that fell under the curve (take the appropriate ratio of your two counters)
  proportion_points <- counter_under/counter_total
  #Also outside the loop, put code to return our final approximation (which is defined as the area of the box, or 8, times the proportion we just calculated)
  return(proportion_points*8)
}

#The code after this point should go OUTSIDE the function
#Call monte_algo with different values for n_sample; you should notice the higher you make it, the more accurate your approximation gets
#For reference, the true value of this integral is about 1.764162781524843 (the exact value cannot be written in terms of elementary functions)

monte_algo()

[1] 1.769008

If you notice your approximation changes across different calls to the algorithm (even with the same value for `n_sample`) that's normal! Remember, this is an approximation based on random sampling, so it is subject to slight changes based on the exact random points sampled that run of the simulation.

# Final Note: Packages and the Tidyverse
---

So far, everything we have talked about is using the base R suite of functions and syntax. But as I mentioned at the start, the heart of R is in its multitude of packages.

Among these, the collection of packages known as the `tidyverse` is a stand-out example of how the functionality we see in base R can be enhanced and greatly added to with the help of packages.

`tidyverse` packages are very versatile and redefine a lot of base R functionality but do it better and simpler.

In the code below, we are installing and loading the `tidyverse`. You'll notice that when we load `tidyverse`, it prints which packages in the `tidyverse` have been 'attached' (or loaded) as well. This includes what is known as the 7 'core' `tidyverse` packages:

1. `forcats` - for categorical data and factors
2. `ggplot2` - for producing data visualizations
3. `lubridate` - for working with dates and times
4. `purrr` - for functional programming (functions and vectors)
5. `stringr` - for working with strings / characters
6. `tibble` - a new and improved data frame
7. `tidyr` - for 'tidying' / cleaning messy data

Right below it, you will see a list of 'conflicts'. This is just R notifying you that the names of some base R functions are being "masked" by the packages loaded in by `tidyverse`.

In [ ]:
#Tidyverse is a collection of packages but it can actually be installed and loaded as a 'meta' package:
install.packages("tidyverse")
#Only loads the 7 core tidyverse packages
library(tidyverse)

#However, there are more packages included in the tidyverse install; they must be loaded individually however
#The following packages are included as part of the tidyverse install (look at what the console prints)
tidyverse_packages()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.1     ✔ stringr   1.5.2
✔ lubridate 1.9.4     ✔ tibble    3.3.0
✔ purrr     1.1.0     ✔ tidyr     1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

 [1] "broom"         "conflicted"    "cli"           "dbplyr"
 [5] "dplyr"         "dtplyr"        "forcats"       "ggplot2"
 [9] "googledrive"   "googlesheets4" "haven"         "hms"
[13] "httr"          "jsonlite"      "lubridate"     "magrittr"
[17] "modelr"        "pillar"        "purrr"         "ragg"
[21] "readr"         "readxl"        "reprex"        "rlang"
[25] "rstudioapi"    "rvest"         "stringr"       "tibble"
[29] "tidyr"         "xml2"          "tidyverse"

Unfortunately, we just don't have enough time to get into the `tidyverse` today but I highly recommend looking into its documentation and suite of functions if you ever find yourself looking for a solution to some data problem.

You can find more information on `tidyverse` and its packages either by reading the documentation or going to [this webpage ](https://www.tidyverse.org/packages/) which gives a cute little intro tidbit about each `tidyverse` package and links to where you can read more about each one.